#logo{
	margin-top: 80px;
}
#gmail{
	position: fixed;
    width: 40px;
    margin-left: 5px;
}
#acontent{
	    margin: 57px;
}
#sync{
	margin: 53px 0px 0px 68px;
}
#log{
	margin: 50px;
}
#signin{
	padding-right: 45px;
}

