      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="AddNote" icon="ion-plus-circled" href="#/tab/about">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Search" icon="ion-plus-circled" href="#/tab/search">
          <ion-nav-view name="search-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>